PORT=3000
GATEWAY_PORT=3000
GATEWAY_SECRET_TOKEN=smart-sprayer-token-rahasia-wa
# Opsional untuk Docker/runtime Chromium sistem
WHATSAPP_AUTH_DATA_PATH=./.wwebjs_auth_session
PUPPETEER_EXECUTABLE_PATH=
